@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}

:root {
  --verde: rgb(66, 195, 115); /* confirma */
  --vermelho: #ed562d; /* cancelar */
  --branco: #fff; /* votar em branco */
  --botao-fundo: #363533;
  --bg: #b3b3b1;
  --border-card: 15px; /* tamanho padrão do border radius */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.janela {
  border: 2px solid var(--botao-fundo);
  width: 30%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-card);
  background-color: var(--bg);
}

input {
  width: 50%;
  height: 2.5rem;
  margin: 7px;
  border-radius: var(--border-card);
  padding: 10px;
  border: none;
}

.botao {
  width: 50%;
  background-color: var(--verde);
  margin-top: 15px;
  padding: 10px;
  border-radius: var(--border-card);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--botao-fundo);
  cursor: pointer;
}

.botao:hover {
  background-color: #386e52;
  transition: 300ms;
}

/* HUB */

.sair {
  width: 7%;
  height: 4%;
  background-color: var(--vermelho);
  position: fixed;
  top: 63%;
  left: 57%;
}

.sair:hover {
  background-color: #9b3b20;
  transition: 300ms;
}

/* id_eleitor */

.botaoID {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 10px;
  margin-bottom: 10px;
}

.janela_id {
  position: relative;
  border: 2px solid var(--botao-fundo);
  width: 30%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-card);
  background-color: var(--bg);
}

.voltar_button {
  position: fixed;
  top: 54%;
  left: 46%;
  height: auto;
  transform: scale(0.25);
  cursor: pointer;
}

/* contagem da urna */
.contagem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  padding-top: 4rem;
}

.zerar {
  width: 10%;
  background: yellow;
  position: fixed;
  right: 55%;
  top: 23%;
}

.zerar:hover {
  background-color: rgb(197, 197, 30);
  transition: 300ms;
}

h2 {
  text-transform: uppercase;
}

li {
  text-decoration: none;
  list-style: none;
  margin: 10px;
  text-align: center;
}
