@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}

:root {
  --verde: #45936b; /* confirma */
  --vermelho: #ed562d; /* cancelar */
  --branco: #fff; /* votar em branco */
  --botao-fundo: #363533;
  --bg: #b3b3b1;
  --border-card: 15px; /* tamanho padrão do border radius */
}

.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-dados {
  border: 2px solid var(--botao-fundo);
  width: 30%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-card);
  background-color: var(--bg);
}

input {
  width: 50%;
  height: 2.5rem;
  margin: 7px;
  border-radius: var(--border-card);
  padding: 10px;
  border: none;
}

.entrar {
  width: 50%;
  background-color: var(--verde);
  margin-top: 15px;
  padding: 10px;
  border-radius: var(--border-card);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--botao-fundo);
  cursor: pointer;
}

.entrar:hover {
  background-color: #386e52;
  transition: 300ms;
}
